{% extends 'blog/base.html' %}
{%block title_block %}Notifications{% endblock %}

{% block content %}
<h1 class="text-center mt-5">Notifications</h1>
<hr class="my-5" style="border-top: 2px solid black">

{% for comment in comments %}
<div class="card my-3">
  <div class="card-header" style="font-size: 20px;">
    <p>{{comment.author}} commented on {{comment.post.story}}: {{comment.post.title}} at {{comment.created_date|date:'d-M, h:iA'}}</p>
    <a class="float-right" href="{% url 'post_detail' comment.post.pk %}">Approve/Delete</a>
  </div>
</div>
  <p><span class="text-success"></p>
{% endfor %}



{% endblock %}
