{% extends 'blog/base.html' %}
{%block title_block%}New Post{% endblock %}

{% block content %}

<h1 class="text-center mt-5">Create a new post!</h1>

<form method="post" class="mt-5">
  {% csrf_token %}
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Post title</span>
    </div>
    <input type="text" class="form-control" style="min-height: 50px;" name='title' required>
  </div>
  <textarea class="editable"  rows="7" placeholder="Write your post here..." name='text' required></textarea>

  <input type="submit" class="btn btn-primary float-right mt-2" value="Post">
</form>


{% endblock %}
