{% extends 'blog/base.html' %}
{%block title_block%}Homepage{% endblock %}

{% block content %}
{% if messages %}
  {% for msg in messages %}
  <div class="alert alert-danger text-center">
    {{msg}}
  </div>
  {% endfor %}
{% endif %}


<div class="card my-5 text-center">
  <div class="card-header">
    <a class="text-center" style="font-family: 'Russo One', sans-serif;font-size: 1.6em;">{{story.story_name}}</a>
  </div>
  {% if story.story_trailer %}
    <div class="card-body" style="font-size: 17px">
      <p class="text-justify postcontent">{{story.story_trailer|safe|linebreaksbr}}</p>
    </div>
  {% endif %}
</div>

{% if user.is_authenticated %}
  <a class="float-left" href="{% url 'post_new' story.pk %}">Write a new post...</a>
  <a class="float-right btn btn-primary ml-2" href="{% url 'update_story' story.pk %}"><i class="fas fa-pencil-alt"></i></a>
  <a class="float-right btn btn-danger" href="{% url 'delete_story' story.pk %}"><span class="fas fa-trash"></span></a>
{% endif %}
<br>
<hr class="mt-5" style="border-top: 2px solid black">

<div class="centerstage">
  {% if story_parts %}
    {% for post in story_parts %}
      {% if user.is_authenticated %}
        <div class="card my-5">
          <div class="card-header">
            <a class="posttitle" href="{% url 'post_detail' post.pk %}">{{post.title}}</a>
            {% if not post.published_date %}
              <a class="float-right" style="font-size: 20px" href="{% url 'draft_detail' post.pk%}">Publish</a>
            {% endif %}
          </div>
          <div class="card-body" style="font-size: 17px">
            <p class="text-justify postcontent">{{post.text|safe|linebreaksbr|truncatechars:160}}</p>
          </div>
          <div class="card-footer date">
            {% if post.published_date %}
              <p class="text-muted">Posted: {{post.published_date|date:'d-M, Y'}}
            {% else %}
              <p class="text-muted">Created: {{post.create_date|date:'d-M, Y'}}
            {% endif %}

              {% if post.comments.all %}
              <span class="float-right">
                <a href="{% url 'post_detail' post.pk %}">{{ post.comments.count }} comment{{post.comments.count|pluralize}}</a>
              </span>
              {% endif %}
            </p>
          </div>
        </div>
      {% else %}
        {% if post.published_date %}
        <div class="card my-5">
          <div class="card-header">
            <a class="posttitle" href="{% url 'post_detail' post.pk %}">{{post.title}}</a>
          </div>
          <div class="card-body" style="font-size: 17px">
            <p class="text-justify postcontent">{{post.text|safe|linebreaksbr|truncatechars:160}}</p>
          </div>
          <div class="card-footer date">
            <p class="text-muted">Published: {{post.published_date|date:'d-M, Y'}}
              {% if post.comments.all %}
              <span class="float-right">
                <a href="{% url 'post_detail' post.pk %}">{{ post.comments.count }} comment{{post.comments.count|pluralize}}</a>
              </span>
              {% endif %}
            </p>
          </div>
        </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% else %}
    <div class="card my-5">
      <div class="card-body" style="font-size: 17px">
        <p class="text-center postcontent">There is no post yet.</p>
      </div>
    </div>
  {% endif %}
</div>


{% endblock %}
