{% extends 'blog/base.html' %}
{%block title_block%}Edit Story{% endblock %}

{% block content %}

<h1 class="text-center mt-5">Edit your story!</h1>

<form method="post" class="mt-5">
  {% csrf_token %}
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Story Name</span>
    </div>
    <input type="text" class="form-control posttitle" style="min-height: 50px;" name='name' value="{{story.story_name}}" required>
  </div>
  <textarea class="editable postcontent"  rows="10" name='trailer' required placeholder="Write something about your story here...">{{story.story_trailer|safe|linebreaksbr}}</textarea>

  <input type="submit" class="btn btn-primary float-right mt-3 mb-5" value="Edit">
</form>


{% endblock %}
